@media (max-width: 768px) {
    body {
        width: 768px;
        overflow-x: hidden;
    }

    .header {
        height: 117px;
    }

    .header-navigation {
        width: 452px;
        display: flex;
        justify-content: space-evenly;
        margin-right: 0px;
    }

    .welcome {
        height: 420px;
        flex-direction: row-reverse;
        padding: 40px 50px 70px 50px;
    }

    .welcome-ilustration img {
        width: 280px;
        height: 255px;
    }

    .main-title {
        font-size: 35px;
    }

    .text {
        max-width: 341px;
        font-size: 16px;
        line-height: 25px;
    }

    .about {
        height: 785px;
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .about img {
        width: 250px;
        height: 258px;
    }

    .about .title {
        text-align: center;
    }

    .title {
        padding-top: 0px;
        font-size: 35px;
        line-height: 45px;
    }

    .about-text-block p {
        max-width: 668px;
    }

    .service {
        height: 1800px;
    }

    .service-controls {
        flex-direction: column;
        padding: 20px 0px;
    }


    .content-buttons {
        margin-top: 20px;
    }

    .service-content {
        margin-top: 40px;
        justify-content: center;
        padding: 0;
        gap: 38px 80px;
    }

    .card {
        width: 280px;
    }

    .card-image {
        width: 280px;
        height: 350px;
    }

    .card-img {
        width: 280px;
        height: 350px;
    }

    .prices {
        width: 768px;
    }

    .contact-block {
        display: flex;
        width: 290px;
    }

    .prices h2 {
        font-size: 35px;
    }

    .prices h3 {
        font-size: 25px;
    }

    .contact-us {
        height: 740px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .centered {
        padding-top: 10px;
    }


    .select-wrapper::after {
        content: "";
        position: absolute;
        top: 88%;
        right: 15px;
        transform: translateY(-50%);
        display: block;
        width: 16px;
        height: 16px;
        background-image: url(../icons/accordion_btn.svg);
    }

    .contact-us img {
        align-self: center;
    }

    .footer {
        height: 80px;
        flex-direction: column-reverse;
    }

    .footer ul {
        display: flex;
        justify-content: space-between;
        width: 200px;
    }

    .footer-info {
        display: flex;
        justify-content: center;
        width: 188px;
    }
}

@media (max-width: 380px) {
    body {
        width: 380px;
    }

    .header-navigation {
        display: none;
    }

    .header {
        height: 95px;
        display: flex;
        justify-content: flex-start;
    }

    .header-logo {
        margin-left: 20px;
    }

    .welcome {
        height: 300px;
        padding: 25px;
    }

    .welcome-ilustration img {
        display: none;
    }

    .main-title {
        font-size: 25px;
    }

    .text {
        max-width: 314px;
        font-size: 16px;
        line-height: 25px;
    }

    .welcome-btn {
        width: 100px;
        height: 35px;
        font-size: 10px;
    }

    .about {
        height: 516px;
    }

    .about img {
        width: 150px;
        height: 147px;
    }

    .about-text-block p {
        max-width: 330px;
        font-size: 15px;
    }

    .title {
        font-size: 25px;
    }

    .service {
        height: 3350px;
    }

    .content-buttons {
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .content-buttons button {

        width: 121px;
        height: 35px;
        font-size: 16px;
    }

    .prices {
        width: 380px;
        height: 512px;
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    .prices h2 {
        margin-top: 40px;
        text-align: center;
        font-size: 25px;
    }

    .prices h3 {
        font-size: 20px;
        text-align: center;
    }

    .prices img {
        display: none;
    }

    .accordeon {
        margin-top: 40px;
        width: 224px;
        height: 235px;
    }

    .prices-select {
        width: 180px;
        height: 50px;
        font-size: 15px;
    }

    .contact-block {
        width: 360px;
        align-items: center;
        margin-bottom: 20px;
        gap: 20px;
    }

    .contact-block a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-us {
        width: 380px;
        height: 450px;
    }

    .contact-us img {
        width: 100px;
        height: 125px;
    }

    .select {
        width: 300px;
        height: 50px;
    }

    .centered {
        margin-left: 75px;
    }

    .footer {
        height: 150px;
    }

    .menu-burger {
        margin-right: 15px;
        position: relative;
        width: 30px;
        height: 35px;
        display: block;
    }

    .menu-burger span,
    .menu-burger:after,
    .menu-burger:before {
        height: 3px;
        width: 100%;
        position: absolute;
        background: #515758;
        margin: 0 auto;
    }

    .menu-burger span {
        top: 16px;
    }

    .menu-burger:after,
    .menu-burger:before {
        content: '';
    }

    .menu-burger:after {
        bottom: 5px;
    }

    .menu-burger:before {
        top: 5px;
    }
}